.UpMenuBtnDiv{
    width: 100%;
}

.normal{
    background-color: white;
}

.intrested{
    background-color: rgb(255, 207, 49);
}

.working{
    background-color: rgb(77, 154, 255);
}

.waitingReview{
    background-color: rgb(78, 255, 93);
}