body{
  background-color: azure;
  justify-content: center;
}
.divMain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.divLoginNaslov{
  display: flex;
  justify-content: center;
  text-align: center;
  height: 15%;
  margin-top: 5%;
}
.loginNaslov{
  font-size: large;
  font-weight: bold;
  font-style: italic;
}
.Forma{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: whitesmoke;
  width:30%;
  height:450px;
  margin-left: 35%;
  margin-right: 35%;
  margin-top:5%;
  margin-bottom: 0%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.BtnLogin{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80px;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*background-color: rgb(161, 17, 161);*/
  background-color: rgb(0, 100, 100);
  color: aliceblue;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-left: 10%;
  margin-right: 10%; 
  margin-bottom: 10px;
  border-radius: 25px;
}
.BtnLogin:hover  {
  background-color: rgb(31, 206, 206)
}
.BtnLogin:active {
  background-color: rgb(31, 206, 206);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.divPass , .divUser {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left : 10%;
  margin-right: 10%;
  width: 80%;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 500;
}
.OrSignUp{
  font-style: italic;
  margin-bottom: 10px;
}
.labelLogin{
  margin-top: 10px;
  font-weight: bold;
}
.inputUser, .inputPass{
  border-radius: 10px;
  height: 25px;
}
.divChecked{

  float: left;

}

