body{
    background-color: azure;
    justify-content: center;
  }
  .divMain{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .forma{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width:35%;
    height: 500px;
    margin-left: 32.5%;
    margin-right: 32.5%;
    margin-top:5%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
  }
  .GlavniDiv{
      height: 100%;
  }
  .divSignupNaslov{
    display: flex;
    justify-content: center;
    height: 15%;
    margin-top: 5%;
    margin-bottom: 0;
  }
  .naslovSignup{
    font-size: large;
    font-weight: bold;
    font-style: italic;
  }
  .divNaslov{
      background-color: rgb(0, 100, 100);
      height: 8%;
      border-radius: 10px;
  }
  .naslov{
      font-weight: bold;
      font-size: 25px;
      width: 100%;
  }
  .inputFirstLastName{
      display: flex;
      justify-content: center;
      margin-top: 5%;
      margin-bottom: 2.5%;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
    }
.inputFirstName , .inputLastName {
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.inputUserSignUp , .inputPassSignUp , .inputPhoneSignUp , .inputEmailSignUp {
    margin-top: 2.5%;
}
.BtnSignUp{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*background-color: rgb(161, 17, 161);*/
    background-color: rgb(0, 100, 100);
    color: aliceblue;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 5%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    border-radius: 25px;
  }
.BtnSignUp:hover  {
    background-color: rgb(31, 206, 206)
}
.BtnSignUp:active {
    background-color: rgb(31, 206, 206);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}   
