.divMyAccount{
    height: 100%;
    width:94%;
    margin-left:7%;
}

.divAvatarMyAccount{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}

@media screen and (min-width: 899px) {
    .divMyAccount{
        width:75%;
        margin-left:18%;
        position: relative;
        left: 72px;
    }
}

/*divCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    margin-left: 23%;
}*/

.Information{
    border: 2px solid;
    border-color: #d6e9de;
    /*width: 50%;
    margin-left: 40%;*/
    margin-bottom: 2%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: rgb(26, 167, 167);
    border-style:dotted;
    border-width:medium;
    min-width: 250px;
    margin-top: 20px;
}

.h3UserName, .h3Phone, .h3Email, .h2FirstLastName{
    margin:2%;
}
