.divAvatar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    background-color: rgb(26, 150, 167);
}

.active{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.19);
    /*background-color: rgb(26, 167, 167);
    color: aliceblue;*/
  }
  
  .h3FirstName, .h5UserName{
      margin:0;
  }

  .h3FirstName{
      margin-left: 4%;
  }

  .h5UserName{
      margin-left: 12%;
  }

.divRoutes{
    display: flex;
    justify-content: center;
     /*position: absolute;
     top: 50%;
     left: 50%;
     margin-top: -50px;
     margin-left: -50px;
     width: 100%;
     height: 100%;*/
  }
 