.MaindivRequestsForm
{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 2%;
    width: 94%;
    height: 100%;
    margin-top: 6%;
}

@media screen and (min-width: 900px) {
  .MaindivRequestsForm{
      width:75%;
      margin-left:25%;
  }
}

.PaperRequests{
    height: 60vh;
    overflow: auto;
 }

/*.divPaperTeamRequests
{
    width: 350px;
}

.divPaperOrgRequests
{
    width: 350px;
}*/

/*.desnidivRequests
{
    display: flex;
    flex-direction: column;
}

.levidivRequests
{
    display: flex;
    flex-direction: column;
}*/

.divButtonSentReceive{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .divPaperTopLabelTeamRequests{
    margin-left: 38%;
  }

  .divPaperTopLabelOrganisation{
    margin-left: 32%;
  }
